#tasks {
  padding: 1rem;
  border-radius: 8px;
  max-height: 60vh;
  overflow: scroll;
  background-color: #cbbfe2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 1rem;
}

h2 {
  margin: 0;
  font-size: 0.9rem;
  width: 60%;
  text-wrap: balance;
}

menu {
  margin: 0;
  padding: 0;
}
